
<section class="jumbotron-headline">
  <div class="container jumbotron-headline-text">
    <h1 class="jumbotron-heading">ชาวเน็ต</h1>
    <p class="lead text-muted">Social Online Magazine</p>
  </div>
</section>

<section class="jumbotron text-xs-center">
  <div class="container">
    <button data-placement="left" data-toggle="tooltip" title="ปิดหน้าต่างนี้" type="button" class="close" data-dismiss="jumbotron" ng-click="close_jumbotron()">&times;</button>
  </div>
</section>

<article class="main__page container">
  {{ welcome }}
</article>