body {
  background: #f1f1f1;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #eee;
}

footer p {
  margin-bottom: .25rem;
}

section#main__container {
    margin: 50px auto;
}
